<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <table th:fragment ="job-display" th:each="Job: ${jobs}" class="job-listing">
    <tbody >
    <tr>
      <td>ID</td>
      <td th:text="${Job.Id}"> </td>
    </tr>
    <tr>
      <td>Name</td>
      <td th:text="${Job.name}"> </td>
    </tr>
    <tr>
      <td>Employer</td>
      <td th:text="${Job.employer}"> </td>
    </tr>
    <tr>
      <td>Location</td>
      <td th:text="${Job.location}"> </td>
    </tr>
    <tr>
      <td>Position Type</td>
      <td th:text="${Job.positionType}"></td>
    </tr>
    <tr>
      <td>Skill</td>
      <td th:text="${Job.coreCompetency}"> </td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>